<header class="page-header">
  <h1>About us</h1>
</header>
<p>The Jungle is a haven for plant enthusiasts, offering a diverse array of of lush greenery and exotic botanical wonders. Our knowledgeable staff provides expert guidance on plant care, making it the ideal destination for both beginners and seasoned gardeners. With a captivating ambiance resembling a lush rainforest, the Jungle immerses visitors in a botanical paradise.</p>
